.spacer{
    height:120px;
}
.grid-container{
    display:grid;
    grid-template-columns: 140px auto;
    min-height:100vh;
}
@media screen and (max-width:850px){
    .grid-container{
        grid-template-columns: 70px auto;
    }
}

@media screen and (max-width:600px){
    .grid-container{
        display:block;
    }
} 

.all{
    width:100%;
    min-height: 80vh;
    padding: 10vh 0;/*
    background-image: url(../../assets/images/tim-bg.jpg);*/
    background-repeat: repeat;
}
.all h2{
    text-align: center;
    color: #001330;
}
.all h3{
    text-align: center;
    color: #033074;
}
.spacer{
    height:120px;
}
.popup{
    position:fixed;
    top:calc(100px + 5vh);
    left:15vw;
    padding:calc(2vw + 5px);
    background-color:#222277;
    border-radius:40%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.6);
    color: #ffffff;
    transition: 0.3s ease;
    opacity: 0.4;
    animation: downy 1s ease 1s 1 both;
}
.popup:hover{
    transform: scale(1.05);
    opacity: 1;
}
@keyframes downy{
    0%{transform:translateY(-50vh)}
    80%{transform:translateY(8vh)}
    100%{transform:translateY(0vh)}
}
.fm{
    width:92%;
    max-width: 450px;
    margin:10vh auto 0;
    background-color: rgba(53, 69, 163, 0.4);
    border: 5px solid #f1f1f1;
    padding:4vh;
    border-radius: 15px;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.5);
    animation: inswap 1s ease 1;
}
@keyframes inswap {
    0%{transform: scale(-0.5, 0.4) translateY(20vh)}
    100%{transform: scale(1) translateY(0vh)}
}
.fm-in{
    width:90%;
    margin:0 auto 10px;
}
.fm-in p{
    text-align: center;
    color:#ffffff;
    padding: 15px 0 0;
}
.fm-in p a{
    color:#a7d4ff;
    font-weight: bold;
    transition: 0.3s ease;
}
.fm-in p a:hover{
    color:#0060df;
    text-decoration: none;
    transform: scale(1.1)
}
.fm-imp{
    width:100%;
    padding:15px;
    margin:-5px 0 10px;
    border-radius: 30px;
    border:2px solid rgba(0, 4, 53, 0.247);
    transition: 0.3s ease;
    box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.2)
}
.fm-imp:hover{
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.5);
    transform: translateY(-3px) scale(1.02);
}
.fm-imp:focus{
    outline:none;
    border:2px solid #0090f0;
}
.fm-imp:active::placeholder{
    border-bottom: 1px solid #00388d;
}
.fm-lb{
    font-size: 11px;
    padding-left: 20px;
    color:#ffffff;
}
@keyframes shrink {
    0%{transform: scale(1)}
    100%{transform: scale(0.4)}
}
.reg{
    width:100%;
    border-radius: 20px;
    padding:7px;
    color:#ffffff;
    background-color: rgb(3, 84, 190);
    border:none;
    transition: 0.4s ease;
}
.reg:hover{
    background-color: black;
    transform:translateY(-4px);
}
.pop>p{
    color: #d5f0ff;
    margin: 0 0 -2vh 0;
}
.pop>p>a{
    color: #80e1ff;
}
.pop>p>a:hover{
    color: #1fb1ca;
}


.retrn{
    position: relative;
    margin: auto;
    text-align: center;
}
.fully{
    position:fixed;
    z-index: 600;
    top:0px;
    left:0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fade 0.4s ease 1 both;
}
@keyframes fade {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.c-message{
    width:60%;
    max-width: 400px;
    background-color: #ffffff;
    padding:4vh 5px;
    animation: ninswap 1.2s ease 1 both;
    border-radius: 20px;
}
.c-message>p{
    text-align: center;
    font-weight: bold;
    color: #222277;
    font-size: 18px;
}



















