<div class="bar">
  <div class="spacer"></div>
    <div class="inbar">
        <a routerLink="/dashboard" routerLinkActive="db-active">
          <div class="db">
              <div class="icon">
                  <i class="fa fa-user dashicon"></i>
                </div>
            <div class="write">
              Dashboard
            </div>
          </div>
        </a>
        <a routerLink="/choice" routerLinkActive="db-active">
          <div class="db">
              <div class="icon">
                  <i class="fa fa-truck dashicon"></i>
                </div>
            <div class="write">
              New Service
            </div>
          </div>
        </a>
        <a routerLink="/trips" routerLinkActive="db-active">
          <div class="db">
              <div class="icon">
                  <i class="fa fa-car dashicon"></i>
                </div>
            <div class="write">
                Trip Record
            </div>
          </div>
        </a>
        <!--
          <div class="db">
              <div class="icon">
                  <i class="fa fa-user dashicon"></i>
                </div>
            <div class="write">
              Lorem Ipsum
            </div>
          </div>-->
        <a routerLink="/settings" routerLinkActive="db-active">
          <div class="db">
              <div class="icon">
                  <i class="fa fa-cogs dashicon"></i>
                </div>
            <div class="write">
              Settings
            </div>
          </div>
        </a>
    </div>
</div>