<div class="brod">
    <div class="spacers"></div>
    <div class="try-main">
      <div class="try-in-1">
        <div class="try-link">
          <a routerlink="login"><button>Log in</button></a>
        </div>
      </div>
      <div class="try-in-2" id="try2">
        <div class="row">
          <div class="col-md-6">
            <div class="try-link">
              <a routerlink="register"><button>Register</button></a>
            </div>
          </div>
        </div>
      </div>
    </div><!--
  <div class="banner">
    <div class="spacer"></div>
    <div class="row">
      <div class="col-md-7">
        <div class="intro" data-aos="fade-down">
          <h1>Welcome to Timtom Taxi services</h1>
          <br>
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</h3>
          <br>
          <img src="./../../assets/images/play-store.png" class="plays" width="200" alt="Download on playstore">
        </div>
      </div>
      <div class="col-md-4">
          <div class="phone" id="phone">
              <img src="./../../assets/images/mob-veiw.png" class="prev" alt="Download on playstore">
              <!--<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
                  <ol class="carousel-indicators">
                      <li data-target="#carousel" data-slide-to="0" class="active"></li>
                      <li data-target="#carousel" data-slide-to="1"></li>
                      <li data-target="#carousel" data-slide-to="2"></li>
                  </ol>-->
                  <!-- Carousel items 
                  <div class="carousel-inner">
                      <div class="active item">
                          <img src="./../../assets/images/mob-veiw.png" class="prev" alt="Download on playstore">
                      </div>
                      <div class="item">
                          <img src="./../../assets/images/mob-veiw.png" class="prev" alt="Download on playstore">
                      </div>
                      <div class="item"></div>
                  </div>-->
                  <!-- Carousel nav
                  <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
                  <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
              </div>               --><!--
          </div>
      </div>
      <div class="offset-md-1"></div>
    </div>
  </div>-->
  <div class="d80m">
      <h4>Simple, efficient deliveries</h4><br>
      <P>For your parcel or other packages, we are all you ever need for an effortless and efficient delivery.</P><br>
      <div class="row">
          <div class="col-sm-6 dload">
              <a href=""><img src="./../../assets/images/play-store.png" class="plays" width="100%" alt="Download on playstore"></a>
          </div>
          <div class="col-sm-6 dload">
              <a href=""><img src="./../../assets/images/app-store.png" class="plays" width="100%" alt="Download on playstore"></a>
          </div>
      </div>
      <br><br>
  </div>
  <div class="brief">
      <h1>How it works</h1>
      <br>
      <div class="row crone">
        <div class="col-md-4 ct" data-aos="fade-right">
          <h4>1.Download the App</h4>
          <div class="cr-img">
              <img src="./../../assets/images/phone1.png" class="ph-im" alt="Description">
          </div>
          <p>
            Download the Mobile App on the Android Play Store or IOS App Store, sign up and Get rides in Minutes
          </p>
        </div>
        <div class="col-md-4 ct" data-aos="fade-up" data-aos-delay="400">
          <h4>2.Request a Ride</h4>
          <div class="cr-img">
              <img src="./../../assets/images/phone2.png" class="ph-im" alt="Description">
          </div>
          <p>
              Choose a car, set your location and request a ride. Watch your driver arrive and get notification of arrival.
          </p>
        </div>
        <div class="col-md-4 ct" data-aos="fade-left">
          <h4>3.Send a Package</h4>
          <div class="cr-img">
              <img src="./../../assets/images/phone1.png" class="ph-im" alt="Description">
          </div>
          <p>Choose a package you wish to transport, fill in the points of pick up and delivery and have us deliver your package.</p>
        </div>
        <!--<div class= "col-md-6">
          <div class="hm-info">
              <h3>Lorem Ipsum</h3><br>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          
          </div>
        </div>
        <div class= "col-md-6">
          <div class="hm-info"><img src="./../../assets/images/car.png" width="100%" alt="Description"></div>
        </div>
        <div class= "col-md-6">
          <div class="hm-info"><img src="./../../assets/images/car.png" width="100%" alt="Description"></div>
        </div>
        <div class= "col-md-6">
          <div class="hm-info">
              <h3>Lorem Ipsum</h3><br>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          
          </div>
        </div>-->
      </div>
  </div>
  <div class="home-sect">
    <div class="s-abs"></div>
    <br><br>
    <h1>Your convenience is our priority</h1>
    <div class="d90m"><br>
        <P>
            We're here to connect you with the best local drivers at the best prices. We do our best to make your trips and package deliveries as quick and comfortable as possible. 
        </P><br>
    </div>
    <br><!--
    <div class="row cont">
      <div class="col-md-6 col-lg-4" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="200">
        <div class="hs-content">
          <div class="imgr">
            <img width="100%" alt="" src="./../../assets/images/281.jpg">
          </div>
          <h3>Lorem Ipsum</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
        <div class="hs-content">
          <div class="imgr">
            <img width="100%" alt="" src="./../../assets/images/3d-cliparts-16.jpg">
          </div>
          <h3>Lorem Ipsum</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="flip-right" data-aos-duration="1000" data-aos-delay="600">
        <div class="hs-content">
          <div class="imgr">
            <img width="100%" alt="" src="./../../assets/images/281.jpg">
          </div>
          <h3>Lorem Ipsum</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
      </div>
    </div>-->
    
    <div class="conts">
      <div class="row hs-content" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
        <div class="col-sm-3">
          <div class="imgr">
            <img width="100%" alt="" src="./../../assets/images/reliable.jpg">
          </div>
        </div>
        <div class="col-sm-9">
          <h3>Reliability </h3>
          <p>
              We make it our priority to ensure that your plans are held as our top most priority and all your scheduled trips are met right on time
          </p>
        </div>
      </div>
      <div class="row hs-content" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
        <div class="col-sm-3">
          <div class="imgr">
            <img width="100%" alt="" src="./../../assets/images/speed_400x400.jpg">
          </div>
        </div>
        <div class="col-sm-9">
          <h3>Speed</h3>
          <p>
              We are always very fast to deliver your packages as your convenience is our priority, also our drivers would never keep you waiting when request a ride.
          </p>
        </div>
      </div>
      <div class="row hs-content" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
        <div class="col-sm-3">
          <div class="imgr">
            <img width="100%" alt="" src="./../../assets/images/affordable.jpg">
          </div>
        </div>
        <div class="col-sm-9">
          <h3>Affordability</h3>
          <p>
              We make sure our prices are not to high, so it is comfortable fr you to afford easily, considering the economic situation of the country </p>
        </div>
      </div>
    </div>
    <br><br>
    <br><br><!--
    <div class="aii">
        <div class="row cont ">
            <div class="col-md-6">
              <div class="d90">
                  <h3>Lorem Ipsum</h3><br>
                  <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </P>
              </div>
            </div>
            <div class="col-md-6">
                <div class="d90 crvr">
                    <img width="100%" alt="" src="./../../assets/images/tim-about.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="cll">
        <div class="d90m2">
          <h2>Our Sponsors or Patners</h2><br>
          <div class="slr row">
            <div class="col-sm-6">
              <div class="d90t">
                  <img width="100%" alt="" src="./../../assets/images/avatar.png">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="d90t">
                  <img width="100%" alt="" src="./../../assets/images/avatar.png">
              </div>
            </div>
          </div>
        </div>
    </div>-->
  </div>
  <!--<div class="apitest" (click)="crude()">Test API</div>
  <div class="content" id="content">
      <h1>Welcome home</h1>
    <ul>
      <li *ngFor="let user of candidate">
        <h4>{{user.name}}</h4>
        <p> {{ user.username }} </p>
        <p><a routerLink="dash/{{user.id}}"> {{ user.company.name }} </a></p>
      </li>
    </ul>
  </div>-->
</div>
<!--AOS Syntaxes
    data-aos="fade-up"
    data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
    data-aos-once="false"
    data-aos-anchor-placement="top-center"

-->