<div class="grid-container">
    <sidebar></sidebar>
    <div class="sect">
        <div class="spacer"></div>
        <h2>Customize your Account </h2>
        <div class="contents row">
            <div class="col-sm-6 col-md-4">
                <a routerLink="/change">
                    <div class="utility">
                        <i class="fa fa-lock"></i>
                    </div>
                </a>
                <p>Change Password</p>
            </div>
            <div class="col-sm-6 col-md-4">
                <!--<a routerLink="">-->
                    <div class="utility-fade">
                        <i class="fa fa-question"></i>
                    </div>
                <!--</a>-->
            </div>
            <div class="col-sm-6 col-md-4">
                <!--<a routerLink="">-->
                    <div class="utility-fade">
                        <i class="fa fa-question"></i>
                    </div>
                <!--</a>-->
            </div>
        </div>
    </div>
</div>